body {
    background-color: #54CBCB;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: white;
    text-align: center;
    padding: 0;
  }
  ul.header li a {
    color: black;
    text-shadow: -1px 0 #FFB443, 0 1px #FFB443, 1px 0 #FFB443, 0 -1px #FFB443;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }

  .menu {
    width: 30px;
    height: 30px;
  }